@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Lato&family=Permanent+Marker&display=swap");
$title: "Permanent Marker", cursive;
$links: "Indie Flower", cursive;
$text: "Lato", sans-serif;

@mixin button {
  border: yellow solid thin;
  border-radius: 30px;
  background-color: teal;
  color: white;
  padding: 1rem;
  margin: 1rem;
  font-family: $links;
  &:hover {
    background-color: purple;
  }
}

* {
  box-sizing: border-box;
  outline: none;
}
body {
  background: linear-gradient(to right, #16222a, #3a6073);
  color: white;
  text-align: center;
  height: 100vh;
  margin: 0;
  h1 {
    font-family: $title;
    letter-spacing: 3px;
    font-size: calc(23px + 0.5vw);
  }
  h2 {
    font-size: calc(20px + 0.5vw);
    font-family: $links;
    margin: 10px;
  }
  p {
    font-family: $text;
    font-size: calc(13px + 0.5vw);
    margin: 1rem;
  }
}
main {
  margin-top: 5rem;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 25px;
}
section {
  width: 300px;
}

form {
  text-align: right;
  margin: 1rem;
}

button,
input[type="submit"] {
  @include button;
}
@media (max-width: 320px) {
  form {
    font-size: 13px;
  }
}
